h1{
    text-align: center;
    font-size: 75px;
}

.section{
    font-size: 1000px;
}
html{
    background-image:url('https://th.bing.com/th/id/R.34ba2d9bb61a17626fb8d8d563751791?rik=RXFDON4f%2bLMYJg&riu=http%3a%2f%2f1.bp.blogspot.com%2f-z_-clW2YHMc%2fUWtcRoY-VtI%2fAAAAAAAAQSs%2fsEOJShRzW_s%2fs1600%2fIMG_0951.JPG&ehk=7SV6XfT14x1hlUchoHBI9P5AkqC3caqgDDE14Ke3M1E%3d&risl=&pid=ImgRaw&r=01');
}

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section1{
    border: 2px solid gray;
    font-size: 40px;
}
.section1 img {
    width: 100%; height: 350px;

}
h2{
text-align: center;
font-size: 50px;
}
.blogs2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
